* {
    margin: 0%;
    padding: 0%;
    box-sizing: border - box;
    font-family: SF PRO DISPLAY;
}

html,
body {
    width: 100%;
}

.main {
    position: relative;
    overflow: hidden;
}

.navBar {
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    gap: 70%;
    padding-top: .8rem;
}

.navBar button {
    padding: 5px 10px;
    border-radius: 2rem;
    border: none;
}

.navBar h3 {
    font-weight: 400;
}

.section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.section video {
    height: 100%;
    width: 60%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.section nav button {
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
}

.sectionButtom {
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #dadada93;
}

.sectionButtom img {
    margin-top: 1rem;
    width: 100%;
}

.section1,
.section2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}

.section1 h2,
.section2 h2 {
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.section1 video,
.section2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.section3Upper {
    height: 25%;
    width: 50%;
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.section3Upper img {
    width: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.sectionUperText {
    position: absolute;
    bottom: 0%;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: #ff5900;
}

.section3UpperText h3 {
    margin-top: 5rem;
    font-weight: 600;
    font-size: 1.5rem;
}


.section3lower img {
    width: 70%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.section3lower button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border: 1px solid #000;
    font-weight: 600;
    background-color: #fff;
    border-radius: 50px;
    font-size: 1.4vw;
}

.section4 {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.section4>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.centerSection4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2vw;
}

.section5 {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 5rem 0;
}

.section5Left {
    position: relative;
    height: 100%;
    width: 50%;
}

.section5Left h1 {
    font-size: 2.3vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
}

.section5Right {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding-left: 5vw;
}

.section5Right h3 {
    font-size: 1.6vw;
    font-weight: 500;
    width: 90%;
    color: #7d7d7dd7;
}

.section5Right button {
    font-size: 1.7vw;
    padding: 20px 60px;
    border: none;
    background-color: #ff6600;
    color: #fff;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 2rem;
}

.section6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #f5f5f7;
}

.section6 h3 {
    margin-bottom: 1vw;
    font-size: 2vw;
}

.section6 h1 {
    margin-bottom: 1.5vw;
    font-size: 4vw;
}

.section6 p {
    font-size: 1.2vw;
    width: 60%;
    font-weight: 700;
    color: #545454c9;
}

.section7 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

.section7 canvas {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}

.sectionSub7 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

.sectionSub7 h1 {
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

.sectionSub7 h1 span {
    color: #000;
}

#sectionSub7a h1 {
    left: 5%;
}

#sectionSub7b h1 {
    right: 5%;
}

#sectionSub7c h1 {
    left: 5%;
}

#sectionSub7d h1 {
    right: 5%;
}

#sectionSub7e h1 {
    left: 5%;
}

#sectionSub7f h1 {
    right: 5%;
}

.section8 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.left8 {
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size: cover;
}

.right8 {
    height: 90%;
    width: 45%;
    position: relative;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large.jpg);
    background-size: cover;
}

.section9 {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centersection9 {
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}

.centersection9 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section10 {
    position: relative;
    height: 120vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section10 h2 {
    position: absolute;
    width: 50%;
    color: #434343c7;
    font-weight: 500;
    top: 5%;
}

.section10 h2 span {
    color: .000;
}

.section10 img {
    width: 60%;
    position: absolute;
    bottom: 0%;
}

.section10 button {
    position: absolute;
    bottom: 10%;
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    background-color: #ff823d;
    color: #fff;
    font-weight: 500;
    border: none;
}

.section11 {
    position: relative;
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    z-index: 99;
}

.section11 h4 {
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 2vw;
}

.section11 h1 {
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 3vw;
}

.section11 p {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 2vw;
    color: #ffffff7c;
    width: 50%;
    text-align: center;
}

.section11 p span {
    color: #fff;
}

.section12 {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0%;
}

.section12>canvas {
    position: relative;
    max-width: 100vw;
}

.section13,
.section15Text,
.section16Text,
.section17Text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: #000;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}

.section13 h5,
.section15Text h5,
.section16Text h5,
.section17Text h5 {
    margin-top: .8rem;
    width: 45%;
    font-weight: 400;
    color: #959595;
    font-size: 1rem;
}

.section14 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: .000;
}

.section14 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section14Text {
    position: absolute;
    height: 20%;
    width: 40%;
    bottom: 18%;
    right: 5%;
    color: #fff;
    margin-top: 2rem;
}

.section14Text h3 {
    margin-bottom: 1rem;
}

.section15,
.section16,
.section17 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.section15 .troff,
.section16 .snroff {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 70%;
    z-index: 9;
}

.section15 .tron,
.section16 .snron {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 70%;
}

.section17 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

.section17Text {
    padding-bottom: 5rem;
}

.section17Text button {
    margin: 2rem 0;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 3rem;
    font-weight: 500;
}

.section17Text button:hover {
    cursor: pointer;
}

.section18 {
    background-color: rgb(244, 244, 244);
    margin: 4rem;
    text-align: center;
    padding-bottom: 1rem;
}

.section18 img {
    width: 10rem;
    display: flex;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 1rem;
}

.section18 h1 {
    font-size: 3.5rem;
}

.section18 p {
    margin: 2rem 4rem;
    font-size: 1.5rem;
    font-weight: 400;
}

footer {
    margin: 0 7rem 1rem;
    font-size: .7rem;
    color: #8b8b8b;
    padding-bottom: 0;
}

footer hr {
    margin: .7rem 0;
    border-top: 1px solid #dcdcdc;
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer li {
    padding: 5px 0;
}

footer p {
    padding: 5px 0;
}